@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


/*Navigation Bar*/
.navbar {
    padding:20px 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(94, 94, 94);
}

.logo{
    width:80%;
    object-fit: cover;
    padding-right: 50px;
}

.nav-item{
    padding-left: 20px;
}

/*General*/
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

h1{
    font-family: "Baskerville", serif;
    font-weight: 400;
    letter-spacing: -4px;
    font-size: 70px;
    line-height: 70px;
}

h2{
    text-transform: uppercase;
    font-size: 20px;
}

h3{
    color: rgb(119, 119, 119);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

p{
    font-size: 20px;
}

i{
    margin-left: 5px;
}

button{
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    height: 55px;
    padding: 10px 20px;
    margin: 20px 20px 0 0 ;
}

.button-dark{
    background-color: black;
    color: white;
    border: 2px solid black;
}

.button-dark:hover{
    color: black;
    background-color: white;
}

.button-light{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button-light:hover{
    color: white;
    background-color:black;
}

/*Hero Section*/
#page-title{
    font-size: 86px;
    line-height: 86px;
}

/* About us*/
.grey-container{
    background-color: rgb(245,245,245);
    border-radius: 20px;
    padding: 30px;
}

.left-text{
    margin: 70px 30px 0 50px;
}

#contact{
    font-size: 18px;
    font-weight: 700;
}

/*Solutions*/
#solutions {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 30px;
}

.green-text{
    color: rgb(117,251,161);
}

.card{
    padding: 50px;
    width: 40%;
    margin: 20px;
}

.card>h1{
    font-size: 50px;
    line-height: 50px;
}

.circle{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 100%;
    margin: 0 auto 40px auto;
}

.icon{
    color: white;
    text-align: center;
}

/*Vision*/
.full-width-container{
    flex: 1;
}
.grey-text{
    color: rgb(172,172,172);
}

.vision-text{
    text-align: center;
}


.img-large {
    width:90%;
    object-fit: cover;
}

.img-medium {
    width:100%;
    object-fit: cover;
    border-radius: 15px;
}

.img-small{
    width:30%;
    object-fit: cover;
}