@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


/*General*/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 70px 50px 0px 50px;
}

.coloured-container{
    border-radius: 20px;
    padding: 70px;
}

.black-container{
    background-color: black;
    color: white;
}

.grey-container{
    background-color: rgb(245,245,245);
}

/*Fonts*/

h1{
    font-family: "Baskerville", serif;
    font-weight: 400;
    letter-spacing: -4px;
    font-size: 70px;
    line-height: 70px;
}

h2{
    text-transform: uppercase;
    font-size: 20px;
}

h3{
    color: rgb(119, 119, 119);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

h4{
    font-size: 14px;
    font-weight: 700;
}

p{
    font-size: 20px;
}

i{
    margin-left: 5px;
}

.green-text{
    color: rgb(117,251,161);
}

.grey-text{
    color: rgb(172,172,172);
}

/*Buttons*/
button{
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    height: 55px;
    padding: 10px 20px;
    margin: 20px 20px 0 0 ;
}

.button-dark{
    background-color: black;
    color: white;
    border: 2px solid black;
}

.button-dark:hover{
    color: black;
    background-color: white;
}

.button-light{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button-light:hover{
    color: white;
    background-color:black;
}


/*Navigation Bar*/
.navbar {
    padding:20px 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(94, 94, 94);
}

.logo{
    width:80%;
    object-fit: cover;
    padding-right: 50px;
}

.nav-item{
    padding-left: 20px;
}

/*Hero Section*/
#page-title{
    font-size: 86px;
    line-height: 86px;
}

/* About us*/
#contact{
    font-size: 18px;
    font-weight: 700;
}

/*Solutions*/
.card{
    padding: 50px 120px;
    margin: 20px;
    border-radius: 40px;
    text-align: center;
}

.card>h1{
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0px;
}

.circle{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 100%;
    margin: 0 auto 40px auto;
    padding: 0;
    text-align: center;
}

.icon{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 15px 0;
}

/*Vision*/
.full-width-container{
    flex: 1;
}

.vision-text{
    text-align: center;
}

/*Resources*/
#main-post {
    margin: 40px 0;
}
.author{
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
}

#main-blog-title{
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0px;
}

.blog-post>h1{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
}


.img-large {
    width:90%;
    object-fit: cover;
}

.img-medium {
    width:100%;
    object-fit: cover;
    border-radius: 15px;
}

.img-small{
    width:100%;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

/*Footer*/
#footer-container{
    background-color: black;
    color: white;
    border-radius: 50px 50px 0 0;
    margin: 0 50px;
    padding: 60px 50px;
}

.footer-link {
    text-decoration: none;
    color:rgb(119, 119, 119);
    display: block;
    padding-top: 10px;
}

.footer-link:hover{
    color: rgb(117,251,161);
}

#footer-bottom {
    padding-top: 100px;
    color: rgb(119, 119, 119);
    font-size: 14px;
}

#footer-bottom>p{
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
}

#footer-bottom>.footer-link{
    display: inline-block;
    margin-right: 20px;
    text-decoration: underline;
}

#footer-bottom>a>i{
    color: white;
    font-size: 20px;
}